<nav class="vartical-offer-container">
  <ul>
    <li id="badanie-wzroku-li" class="vertical-offer-li">
      <a>
        <p>BADANIE WZROKU</p>
        <img src=".\img\icons\eye.jpg">
      </a>
    </li>
    <li id="optyk-li" class="vertical-offer-li">
      <a>
        <p>OPTYK</p>
        <img src=".\img\icons\eye.jpg">
      </a>
    </li>
    <li id="soczewki-li" class="vertical-offer-li">
      <a>
        <p>SOCZEWKI KONTAKTOWE</p>
        <img src=".\img\icons\eye.jpg">
      </a>
    </li>
    <li id="sklep-li" class="vertical-offer-li">
      <a>
        <p>SKLEP STACJONARNY</p>
        <img src=".\img\icons\eye.jpg">
      </a>
    </li>
  </ul>
</nav>