#googleMapsMock {
    width: 100%;
}

#adressInfo {
   width: 100%;
   background-color: #062471;
   color: white;
   box-sizing: border-box;
}

.importatnInfo {
    line-height: 1;
    
}

#contact-form {
    margin-bottom: 15rem;
}