:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 80, 80, 0.253);
    
    /* from Bootstrap grid- col-12 */
    /* position: relative; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
}


.importatnInfo {
    line-height: 1;   
}