<section id="adress_map">
  <div class="container mx-auto text-center m-5 p-3" id="adressInfo">
    <h2>OKOMED</h2>
    <span class="importatnInfo">
      <p>u. Głowackiego 27</p>
      <p>20-000 Lublin</p>
      <br>
      <p>telefon: 81 533 000 2</p>
      <button type="button" class="btn btn-primary btn-xl text-uppercase">
      Zadzwoń
    </button>
      <p>e-mail: okomed@dssvs.pl</p>
      <a href="#contact-form">
      <button type="button" class="btn btn-primary btn-xl text-uppercase">
        Napisz
    </button>
    </a>
    </span>
  </div>
  <section id="googleMapSection">
    <okomed-google-map></okomed-google-map>
  </section>
</section>

<section id="contact-form">
  <okomed-contact-form></okomed-contact-form>
</section>