:host {
    background-color: rgba(0, 255, 76, 0.349);
    flex: 1 1 1;

    height: 300px;
    overflow: hidden;
}


.news-container {
    background-color: rgba(48, 47, 43, 0.459);
    padding-left: 30px;
    width: inherit;
    height: inherit;
    overflow: hidden;
}


img {
    width: inherit;
    height: inherit;
}

