:host {
    background-color: rgba(0, 255, 76, 0.349);
    height: 300px;
    overflow: hidden;


    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
}


.news-container div {
 position: relative;
}

img {
    width: inherit;
    position: absolute;
}

h2 {
    position: absolute;
    top: 70px;
    right: 80px;
    z-index: 10;
}

